/* Root Settings */

/* Globals Settings */

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);       
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

img {
    width: 150px;
}

@media screen and (max-width: 576px) {
    img {
        width: 85px;
    }
}

/* Font Settings */

html {
    color: #f2f2f6;
    font-size: 15px;
    font-family: -apple-system , system-ui , BlinkMacSystemFont , "Segoe UI" ,Roboto , "Helvetica Neue" , Arial , sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

h2 {
    color: #ff3b30;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

.modal-content {
    color: #1c1c1e;;
}

p {
    padding-top: 1rem;
    font-size: 1.75rem;
    font-weight: 700;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
}

/* Navbar Blocks */

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Main Blocks */

main {
    height: 90vh;
}

.beforeFight {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.beforeFight div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultFight {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counterFight {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.winContainer, .loseContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerChoice {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

@media screen and (max-width: 576px) {
    .beforeFight div {
        width: 50%;
    }
    .winContainer, .loseContainer {
        width: 50%;
    }
}


    /* Choice Button */

button {
    border: 0;
    border-radius: 10px;
    background: none ;
}
    /* Modal */

.trigger {
    text-align: center;
    padding: .5rem .5rem;
    background: #FBDA61;
    color: #fff;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    max-width: 600px;
    border-radius: 5px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button p {
    padding-top: 0;
}

.close-button:hover {
    background-color: darkgray;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

iframe {
    border-radius: 5px;
}
  
@media screen and (max-width: 576px) {
    .modal-content {
        width: 300px;
    }
    iframe {
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 700px) {
    .modal-content {
        width: 500px;
    }
    iframe {
        width: 100%;
    }
}